@model IEnumerable<PocketBookModel.Medication>

@{
    ViewData["Title"] = "Medications";
}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header font-weight-bold">@ViewData["Title"]</div>
            <div class="card-body">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Policy Date
                            </th>
                            <th>
                                Last Modified
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @item.PolicyDate?.ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    <time class="timeago" datetime="@item.LastModified.ToString("o")">
                                        @item.LastModified.ToString("dd MMM yyyy HH:mm")
                                    </time>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendors/timeago/timeago.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            timeago.render(document.querySelectorAll(".timeago"));
        })
    </script>
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}